<div [formGroup]="form">

  <div [ngSwitch]="question.controlType">
    <mat-form-field *ngSwitchCase="'date'" [class]="question.class" appearance="outline">
      <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
      <input matInput [formControlName]="question.key" [id]="question.key" [matDatepicker]="picker"
        [placeholder]="question.placeholder">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="this.form.get(question.key)?.invalid">{{question.error}}</mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'input'" [class]="question.class" appearance="outline">
      <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
      <input matInput [formControlName]="question.key" [id]="question.key" [type]="question.type"
        [placeholder]="question.placeholder">
      <mat-error *ngIf="this.form.get(question.key)?.invalid">{{question.error}}</mat-error>
    </mat-form-field>

    <div *ngSwitchCase="'radio'" [class]="question.class">
      <mat-label [attr.for]="question.key">{{question.label}}</mat-label><br>
      <mat-radio-group [formControlName]="question.key" [id]="question.key">
        <mat-radio-button class="mr-3" *ngFor="let opt of question.options" [value]="opt.key">
          {{opt.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field *ngSwitchCase="'select'" [class]="question.class" appearance="outline">
      <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
      <mat-select [formControlName]="question.key" [id]="question.key">
        <mat-option *ngFor="let opt of question.options" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.form.get(question.key)?.invalid">{{question.error}}</mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'textArea'" [class]="question.class" appearance="outline">
      <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
      <textarea matInput [formControlName]="question.key" [id]="question.key" [type]="question.type"
        [placeholder]="question.placeholder"></textarea>
      <mat-error *ngIf="this.form.get(question.key)?.invalid">{{question.error}}</mat-error>
    </mat-form-field>

    <div *ngSwitchCase="'toggle'" [class]="question.class">
      <mat-slide-toggle [formControlName]="question.key">
        {{question.label}}
      </mat-slide-toggle>
    </div>
  </div>
</div>
